{
	"root": true,
	"env": {
		"node": true
	},
	"extends": ["plugin:vue/vue3-recommended", "@vue/typescript/recommended"],
	"parserOptions": {
		"ecmaVersion": 2021
	},
	"rules": {
		"vue/multi-word-component-names": "off"
		// "vue/html-indent": ["error", 2],
		// "vue/html-self-closing": [
		// 	"error",
		// 	{
		// 		"html": {
		// 			"void": "always"
		// 		}
		// 	}
		// ],
		// "@typescript-eslint/no-angle-bracket-type-assertion": "off",
		// "@typescript-eslint/no-object-literal-type-assertion": "off"
	}
}
