@use '../commons';

%input-reset {
    display: flex;
    align-items: center;
    input {
        @include commons.sr-only;
        &:checked {
            + label {
                &::before {
                    border-color: commons.$primary;
                }
                &::after {
                    background: commons.$primary url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
                }
            }
        }
        &:disabled {
            + label {
                cursor: default;
                &::before {
                    border-color: commons.$disabled-border;
                }
                &::after {
                    background-color: commons.$disabled-bg;
                }
            }
        }
    }
    label {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        &::before {
            content: '';
            box-sizing: border-box;
            display: block;
            width: 18px;
            height: 18px;
            margin-right: .5rem;
            border: 1px solid commons.$grayC;
        }
        &::after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            display: block;
            width: 18px;
            height: 18px;
        }
    }
}
// input="text"
.input-wrap {
    .input-area {
        label {
            display: inline-flex;
            padding-bottom: 15px;
            font-weight: bold;
            font-size: commons.$fs-m;
            color: commons.$gray6;
        }
        .input {
            position: relative;
            input {
                width: 100%;
                height: 36px;
                border: 1px solid commons.$gray8;
                padding: 0 30px 0 10px;
                color: commons.$main-font;
                &::placeholder {
                    color: commons.$gray8;
                }
            }
            .btn-delete-input {
                display: block;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translate3d(0, -50%, 0);
                .fa-circle-xmark {
                    display: block;
                    font-size: 20px;
                    color: commons.$grayB;
                }
            }
        }
    }
    &.files {
        .input-area {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            label {
                display: block;
                height: 36px;
                padding: 10px 20px;
                margin-left: 10px;
                background-color: commons.$primary;
                color: #fff;
                cursor: pointer;
            }
            .input {
                flex: 1;
                .file-name {
                    display: block;
                    width: 100%;
                    height: 36px;
                    padding: 0 10px;
                    border: 1px solid commons.$gray8;
                    border: 1px solid #dddddd;
                    color: commons.$main-font;
                }
                input {
                    @include commons.sr-only;
                }
            }
        }
        .preview-area {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .upload-img {
                width: calc(100% / 4);
                padding: 10px;
                + .upload-img {
                }
                .img-title {
                    display: flex;
                    width: 100%;
                    padding-bottom: 10px;
                    .title {
                        overflow: hidden;
                        display: block;
                        max-width: calc(100% - 20px);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .img-wrap {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    border: .1rem solid commons.$grayC;
                    &.width-full {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &.height-full {
                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
// input="checkbox"
.checkbox-wrap {
    @extend %input-reset;
    label {
        &::before, &::after {
            border-radius: 3px;
        }
    }
}
// input="radio"
.radio-wrap {
    @extend %input-reset;
    label {
        &::before, &::after {
            border-radius: 50%;
        }
    }
}
.radio-button-type {
    display: flex;
    ul {
        display: flex;
        li {
            + li {
                margin-left: 10px;
            }
        } 
    }
    .radio-wrap {
        + .radio-wrap {
            margin-left: 10px;
        }
        input {
            + label {
                &::before, &::after {
                    display: none;
                }
                border: 1px solid commons.$disabled-border;
                padding: 10px;
            }
            &:checked {
                + label {
                    border-color: commons.$primary;
                    background-color: commons.$primary;
                    color: #fff;
                }
            }
        }
    }
}
// select
.select-wrap {
    position: relative;
    z-index: 10;
    height: 36px;
    &.active {
        .selected {
            border-bottom-color: #fff;
        }
        .select {
            border: 1px solid commons.$gray8;
            border-top: 0 none;
        }
    }
    .selected {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 36px;
        padding: 0 10px;
        border: 1px solid commons.$gray8;
        svg {
            margin-left: auto;
        }
    }
    .select {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        .option {
            button {
                display: block;
                width: 100%;
                height: 36px;
                padding: 0 10px;
                text-align: left;
            }
        }
    }
}
// tab
.tab-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .tabs {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 46px;
        .tab {
            display: inline-flex;
            width: 100%;
            height: 100%;
            padding: 0;
            align-items: center;
            button {
                position: relative;
                z-index: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                border-bottom: 1px solid commons.$grayC;
                background-color: #fff;
                white-space: nowrap;
                font-weight: commons.$font-light;
                font-size: commons.$fs-l;
                color: commons.$grayA;
                &:focus {
                    z-index: 10;
                }
            }
            &.active {
                button {
                    border-bottom: 2px solid commons.$primary;
                    font-weight: commons.$font-medium;
                    color: commons.$primary;
                    cursor: default;
                }
            }
        }
    }
    .tab-panels {
        width: 100%;
        display: flex;
        .tab-panel {
            visibility: hidden;
            min-width: 100%;
            padding: 20px 30px 40px;
            word-break: break-word;
            &.active {
                visibility: visible;
            }
        }
    }
}
// swiper
.swiper-component {
    overflow: hidden;
    position: relative;
    .swiper-wrap {
        overflow: hidden;
        .swiper {
            display: flex;
            scrollbar-width: none;
            transform: translateX(0);
            will-change: transform;
            transition: transform 0.3s ease-out;
            word-break: break-all;
            cursor: grab;
            touch-action: pan-x;
            &.grabbing {
                -webkit-user-select:none;
                -moz-user-select:none;
                -ms-user-select:none;
                user-select:none
            }
            &.vertical {
                flex-wrap: wrap;
                touch-action: pan-y;
            }
            .slide {
                min-width: 100%;
                min-height: 60px;
                padding: 20px 30px;
            }
        }
    }
    .swiper-tab-wrap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .swiper-tab {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            li {
                flex: 1;
                width: 100%;
                height: 100%;
                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                }
                &.active {
                    border-bottom: 2px solid commons.$primary;
                    button {
                        color: commons.$primary;
                    }
                }
            }
        }
    }
    .pagination-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                .indicator {
                    display: block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: commons.$disabled-bg;
                }
                &.active {
                    .indicator {
                        background-color: commons.$primary;
                    }
                }
                + li {
                    margin-left: 10px;
                }
            }
            &.bar {
                .indicator {
                    width: 30px;
                    height: 2px;
                    border-radius: 0;
                }
            }
        }
    }
    .navigation-wrap {
        position: absolute;
        width: 100%;
        button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-size: 30px;
            &.btn-prev {
                left: 0;
            }
            &.btn-next {
                right: 0;
            }
            &.disabled {
                color: commons.$disabled-bg;
                cursor: default;
            }
        }
    }
}

%pop-wrap-reset {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: commons.colorToRgba(commons.$white, .4);
        z-index: 20;
    }
}
%pop-content-reset {
    position: absolute;
    z-index: 30;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 10px;
    background-color: commons.$white;
    .content {
        display: flex;
        flex: 1;
        padding: 40px 20px 20px;
        &.center {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
        }

    }
    .btn-area {
        display: flex;
        padding: 10px 20px;
        &.center {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
        }
    }
}
.alert-wrap {
    @extend %pop-wrap-reset;
    .alert {
        top: 20%;
        left: 0;
        right: 0;
        @extend %pop-content-reset;
        width: 500px;
        border: 1px solid commons.$grayB;
        box-shadow: 1px 5px 10px commons.colorToRgba(commons.$gray8, .2);
        font-size: commons.$fs-m;
        &.no-bg {
            border: 1px solid commons.$gray6;
            box-shadow: 1px 5px 10px commons.colorToRgba(commons.$gray8, .1);
        }
        .content {
            font-size: commons.$fs-s;
            &.center {
                text-align: center;
            }
            &.right {
                text-align: right;
            }
        }
        .btn-area {
            .btn-close {
                height: 36px;
                padding: 0 10px;
            }
        }
    }
}
.modal-wrap {
    @extend %pop-wrap-reset;
    .modal {
        top: 10vh;
        left: 0;
        right: 0;
        bottom: 10vh;
        @extend %pop-content-reset;
        width: 80%;
        height: 80vh;
        border: 1px solid commons.$grayB;
        border-radius: 3px;
        box-shadow: 1px 5px 10px commons.colorToRgba(commons.$gray8, .2);
        font-size: commons.$fs-m;
        .modal-header {
            display: flex;
            align-items: center;
            height: 40px;
            padding: 0 40px 0 20px;
            font-weight: bold;
            + .modal-content {
                margin-top: 0;
            }
        }
        .modal-content {
            flex: 1;
            margin-top: 40px;
            padding: 10px 20px 20px;
        }
        .modal-footer {
            position: absolute;
            top: 0;
            right: 0;
            .btn-close-modal {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                font-size: commons.$fs-xl;
            }
        }
    }
    &.modal-bounce-enter-active {
        animation: modal 0.5s;
    }
    &.modal-bounce-leave-active {
        animation: modal 0.5s reverse;
    }
    @keyframes modal {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
        100% {
            transform: scale(1);
        }
    }
}

// toast
.toast-wrap {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 36px);
    height: 44px;
    margin: 0 18px;
    padding: 0 18px;
    border-radius: 5px;
    background-color: rgba(#000, .8);
    transform: translate(0, -20px);
    .toast {
      line-height: 2.1rem;
      font-size: commons.$fs-m;
      text-align: center;
      color: #fff;
      white-space: pre-wrap;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    &.toast-up-enter-active {
        animation: toast-in 1s;
    }
    &.toast-down-leave-active {
        animation: toast-out 1s;
    }
    @keyframes toast-in {
        0% {
            transform: translate(0, 0);
            opacity: 0;
        }
        100% {
            transform: translate(0, -20px);
            opacity: 1;
        }
    }
    @keyframes toast-out {
        0% {
            transform: translate(0, -20px);
            opacity: 1;
        }
        100% {
            transform: translate(0, 0);
            opacity: 0;
        }
    }
}