// point color
$primary: #0458f9;
$primary-light: #d0f0fc;
$primary-dark: #081481;
$primary-bg: #f5fcff;

// gray color
$gray3: #333; // font
$gray6: #666; // font
$gray8: #888; // font size 18px OR bold 14px // expadable page's common text, image text

$grayA: #aaa; // border
$grayB: #bbb; // border
$grayC: #ccc; // border
$grayD: #ddd; // border

// font color
$main-font: #4b5563;
$em-font: #111827;

// etc color
$main-border: #888;
$main-bg: #f2f4f6;

// disabled color
$disabled-border: $grayA;
$disabled-bg: $grayC;
$disabled-font: $grayA;

// color
$white: #fff;

// font-size
$fs-xs: 11px;
$fs-s: 13px;
$fs-m: 15px;
$fs-l: 18px;
$fs-xl: 24px;

// font-weight
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-thin: 100;
