@use 'commons';

// mobile
@media screen and (max-width: 768px) {
    html {
        height: auto;
    }
    .header-wrap {
        &.active {
            height: 100%;
        }
    }
    header.mobile {
        width: 100%;
        .nav-wrap {
            max-width: initial;
            height: auto;
            margin-left: auto;
            flex-direction: row-reverse;
            .btn-mo-nav {
                display: block;
                padding: .3rem .7rem;
                border: .1rem solid #000;
                border-radius: .3rem;
                font-size: 2rem;
            }
            .btn-mo-close {
                position: absolute;
                top: 2rem;
                right: 2rem;
                z-index: 20;
                display: block;
                font-size: 2rem;
            }
            .global-nav-wrap {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 20;
                display: block;
                width: 100%;
                height: 100%;
                background-color: rgba(commons.$white, .95);
                nav {
                    > ul {
                        display: block;
                        padding: 5rem 3rem;
                        .global-nav-item {
                            width: 100%;
                            height: auto;
                            text-align: left;
                            + .global-nav-item {
                                margin-left: 0;
                            }
                        }
                    }
                }
            }
            .local-nav-wrap {
                position: relative;
                top: 0;
                width: auto;
                border: 0 none;
                background-color: transparent;
                padding: 0;
                a.local-nav-sub-item {
                    padding-left: 3rem;
                }
            }
        }
        .login-btn-wrap {
            margin-right: 1rem;
            .btn-login {
                padding: 1.5rem 0;
                font-size: 1.5rem;
            }
            .tooltip-wrap {
                .tooltip {
                    width: 23rem;
                }
            }
        }
    }
    #section0 {
        h2 {
            font-size: 5rem;
        }
        .sticky-element {
            line-height: 5rem;
            font-size: 3rem;
            &.b {
                line-height: 3.6rem;
                font-size: 1.8rem;
            }
            &.c {
                line-height: 4rem;
                font-size: 2rem;
            }
        }
        .img-area {
            width: 30rem;
        }
    }
    .page-container {
        overflow: hidden;
    }
    .content-body {
        overflow-y: auto;
        width: 100%;
        padding: 8.5rem 2rem 5rem;
        .title-area {
            padding-bottom: 2rem;
        }
        .content-area {
            .form-area {
                .form-row {
                    .date-wrap {
                        width: 50%;
                        margin-left: 0;
                        + .date-wrap {
                            margin-left: 1rem;
                        }
                    }
                    .check-list {
                        display: grid;
                        grid-template-columns: repeat(auto-fill, minmax(30%, auto));
                        row-gap: 1rem;
                    }
                    .select-wrap {
                        width: auto;
                    }
                }
            }
            .preview-wrap {
                overflow-x: auto;
                display: flex;
                width: 100%;
            }
        }
        &.login {
            width: 100%;
        }
        &.project {
            .project-list {
                grid-template-columns: 1fr;
                gap: 0;
                min-height: 5rem;
                .project-wrap {
                    height: 25rem;
                    + .project-wrap {
                        margin-top: 2rem;
                    }
                }
            }
            .tab-wrap {
                .tabs {
                    .tab {
                        button {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
            .swiper-component {
                .slide {
                    padding: 3rem 4rem;
                }
                .img-area {
                    &.pc {
                        width: 100%;
                    }
                    &.mobile {
                        width: 100%;
                        height: 30rem;
                    }
                }
            }
        }
    }
    .guide-body {
        position: relative;
        flex-direction: column;
        .guide-content {
            padding: 2rem 1.5rem;
            .api-box {
                .api-table {
                    thead {
                        th {
                            padding: .7rem .3rem;
                        }
                    }
                    tbody {
                        td {
                            padding: .3rem;
                        }
                    }
                }
            }
            .lib-box {
                .example {
                    > ul.flex-box {
                        > li {
                            + li {
                                padding-left: .5rem;
                            }
                        }
                    }
                }
            }
            .scroll-wrap {
                overflow-x: auto;
            }
            &.accessibility {
                .img-wrap {
                    width: 100%;
                }
            }
        }
        .guide-nav {
            position: absolute;
            top: 7rem;
            right: 1rem;
            z-index: 10;
            border-right: 0 none;
            border-bottom: 0 none;
            .btn-mo-guide-nav {
                display: block;
                margin-left: auto;
                padding: 1rem .7rem;
                border: .1rem solid #000;
                border-radius: .3rem;
                background-color: commons.$white;
                font-size: 1.2rem;
            }
            .guide-wrap {
                position: fixed;
                top: 5.4rem;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                display: block;
                width: 100%;
                height: calc(100% - 5.4rem);
                padding: 4rem 2rem;
                background-color: rgba(commons.$white, .95);
                > ul {
                    > li {
                        > a {
                            display: block;
                            font-size: 1.5rem;
                        }
                        > ul {
                            > li {
                                > a {
                                    display: block;
                                    padding-left: 3rem;
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .btn-mo-guide-close {
            position: fixed;
            top: 7rem;
            right: 2rem;
            z-index: 10;
            display: block;
            font-size: 2rem;
        }
    }
    // 컴포넌트
    .btn {
        &.xs {
            padding: .2rem .2rem;
        }
        &.sm {
            padding: .2rem .3rem;
        }
        &.md {
            padding: .3rem .4rem;
        }
        &.lg {
            padding: .4rem .5rem;
        }
        &.xl {
            padding: .5rem .6rem;
        }
    }
    .swiper-component {
        .swiper-wrap {
            .swiper {
                cursor: grab;
            }
        }
    }
    .input-wrap {
        .btn-input {
            padding: 1rem 0;
        }
        &.files {
            .input-area {
                label {
                    padding: 0 1rem;
                }
            }
        }
    }
    .alert-wrap {
        .alert {
            width: 90%;
        }
    }
}