@use 'commons';

.content-body {
    .title-area {
        padding-bottom: 5rem;
        .main-title {
            font-size: commons.$fs-xl;
            text-align: center;
        }
    }
    .content-area {
        .form-area {
            .form-row {
                + .form-row {
                    margin-top: 2rem;
                }
                h4 {
                    display: inline-flex;
                    padding-bottom: 1.5rem;
                    font-weight: bold;
                    font-size: commons.$fs-m;
                    color: commons.$gray6;
                }
                &.flex {
                    display: flex;
                    .input-wrap {
                        flex: 1;
                        + .input-wrap {
                            margin-left: 1rem;
                        }
                    }
                }
                .select-wrap {
                    width: 30%;
                    + .input-wrap {
                        margin-left: 1rem;
                    }
                }
                .date-wrap {
                    margin-left: 1rem;
                }
                .editor-wrap {
                    flex: 1;
                    .ql-snow {
                        border-color: commons.$gray8;
                    }
                    .ql-toolbar {
                        &:focus {
                            outline: .1rem solid red;
                        }
                    }
                    .ql-container {
                        height: auto;
                        .ql-editor {
                            &.ql-blank::before { // placeholder
                                font-style: inherit;
                                color: commons.$gray8;
                            }
                            &:focus {
                                outline: .1rem solid rgba(#4337ca, .5);
                            }
                        }
                    }
                }
                .check-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
                    row-gap: 1rem;
                    padding: 2rem;
                    background-color: rgba(#4337ca, .05);
                }
            }
        }
        .data-table-area {
            .table {
                td {
                    height: 7rem;
                    padding: 0 2rem;
                    .board-title {
                        display: inline-block;
                        padding: 1rem;
                    }
                    .btn-icon {
                        display: block;
                        width: 2.4rem;
                        height: 2.4rem;
                        font-size: commons.$fs-m;
                    }
                }
            }
            .edit-btns-wrap {
                display: flex;
                align-items: center;
                .editable-area {
                    .before-edit {
                        display: flex;
                        align-items: center;
                        .category-title {
                            display: block;
                            margin-right: 1rem;
                        }
                    }
                    .editable {
                        display: flex;
                        align-items: center;
                        margin-right: 1rem;
                    }
                }
            }
            .list-btns-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .footer-area {
        display: flex;
        padding-top: 3rem;
        justify-content: center;
        a, button {
            + a, + button {
                margin-left: 2rem;
            }
        }
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.side {
            justify-content: space-between;
        }
    }
    &.login {
        width: 50rem;
        margin: 0 auto;
        .form-area {
            .form-row {
                .input-area {
                    flex-direction: column;
                    .input {
                        display: flex;
                        input {
                            width: 100%;
                        }
                    }
                }
                + .form-row {
                    margin-top: 4rem;
                }
                &.id-check {
                    .input-area {
                        .input {
                            justify-content: space-between;
                            input {
                                width: calc(100% - 12rem);
                            }
                            .btn-delete-input {
                                right: 13rem;
                            }
                        }
                    }
                }
            }
            .login-tip {
                display: block;
                padding-top: 1rem;
                color: red;
            }
        }
    }
    &.main {
        height: auto;
    }
    &.board {
    }
    &.project {
        .project-filter {
            display: flex;
            width: 20rem;
            margin-bottom: 2rem;
            margin-left: auto;
            .select-wrap {
                width: 100%;
                + .select-wrap {
                    margin-left: 1rem;
                }
                &.half-width {
                    width: 50%;
                }
            }
        }
        // list
        .skills {
            display: flex;
            flex-wrap: wrap;
            .lang {
                display: flex;
                align-items: center;
                + .lang {
                    &::before {
                        content: ', ';
                        padding-right: .3rem;
                    }
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .project-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2rem;
            min-height: 6.2rem;
            .project-wrap {
                width: 100%;
                height: 30rem;
                border-radius: 1.6rem;
                box-shadow: .1rem .1rem 1rem .1rem #ececec;
                background-color: commons.$white;
                button {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 2rem;
                    border-radius: 1.6rem;
                    text-align: left;
                    .project-title {
                        position: relative;
                        width: 100%;
                        h4 {
                            padding-bottom: .5rem;
                            line-height: 2.4rem;
                            font-weight: bold;
                            font-size: 1.8rem;
                        }
                        .types-badge {
                            position: absolute;
                            top: 0;
                            right: 0;
                            display: flex;
                            span {
                                display: block;
                                height: 2rem;
                                margin: 0 .2rem;
                                padding: 0 .2rem;
                                border-radius: .3rem;
                                line-height: 2rem;
                                font-size: 1.1rem;
                                &.pc {
                                    background-color: commons.$primary-dark;
                                    color: commons.$white;
                                }
                                &.mobile {
                                    border: .1rem solid commons.$primary-dark;
                                    color: commons.$primary-dark;
                                }
                            }
                        }
                        &.wBadge {
                            h4 {
                                width: calc(100% - 6rem);
                            }
                        }
                    }
                    .date-area {
                        padding-bottom: 1rem;
                        color: #666;
                    }
                    .introduce {
                        padding-bottom: 1rem;
                        line-height: 1.8rem;
                        font-size: 1.5rem;
                    }
                    .companies {
                        margin-top: auto;
                        span {
                            display: block;
                            line-height: 1.8rem;
                            font-size: 1.5rem;
                            + span {
                                padding-top: .5rem;
                            }
                        }
                    }
                }
                &:hover {
                    animation-duration: .5s;
                    animation-name: sizing;
                }
                @keyframes sizing {
                  0% {
                    transform: scale3d(1, 1, 1);
                  }
                  70% {
                    transform: scale3d(1.2, 1.2, 1.2);
                  }
                
                  100% {
                    transform: scale3d(1, 1, 1);
                  }
                }

            }
        }
        // view
        .table-view {
            line-height: 2rem;
        }
        .jobs {
            li {
                display: flex;
                align-items: flex-start;
                padding-top: 1rem;
                &:first-child {
                    padding-top: 0;
                }
                &::before {
                    content: '';
                    display: block;
                    width: .4rem;
                    height: .4rem;
                    margin-top: .8rem;
                    margin-right: .5rem;
                    border-radius: 50%;
                    background-color: commons.$gray3;
                }
                span {
                    display: block;
                    width: calc(100% - .9rem);
                }
            }
        }
        .types {
            span {
                &:nth-child(2) {
                    &::before {
                        content: ', ';
                    }
                }
            }
        }
        .swiper-component {
            .slide {
                padding: 3rem 4rem;
            }
            .img-area {
                display: flex;
                justify-content: center;
                align-items: center;
                &.pc {
                    width: 30rem;
                    height: 100%;
                    margin: 0 auto;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                &.mobile {
                    width: 100%;
                    height: 30rem;
                    margin: 0 auto;
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
        }
    }
}

// main

#showScene0 #section0 .sticky-element {
    display: block;
}
#section0 {
    h2 {
        font-weight: bold;
        font-size: 9rem;
        text-align: center;
        transform: translate3d(0, calc(50vh - 10rem), 0);
    }
    .sticky-element {
        display: none;
        position: fixed;
        top: calc(50% - 8rem);
        left: 0;
        width: 100%;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
        line-height: 8rem;
        font-size: 4rem;
        text-align: center;
    }
    .img-area {
        display: block;
        width: 40rem;
        margin: 2rem auto 0;
        img {
            width: 100%;
            height: auto;
        }
    }
}


// skeleton ui
/*
    @mixin skeleton-ui {
      overflow: hidden;
      position: relative;
      border-radius: .4rem;
      animation: skeleton-bg-ani .5s linear infinite alternate;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(60deg, rgba(255,255,255,0) 0%, rgba(228,228,228,0.06) 50%, rgba(255,255,255,0) 100%);
        animation: skeleton-bar-ani 2s linear infinite alternate;
      }
    }

    @keyframes skeleton-bar-ani {
      0% {
        left: -100%;
      }
      100% {
        left: 100%;
      }
    }
    @keyframes skeleton-bg-ani {
      0% {
        background-color: rgba(#e6e6e6, 0.2);
      }
      100% {
        background-color: rgba(#e6e6e6, 1);
      }
    }

    // 사용 시
    @include skeleton-ui;
*/