@use 'commons';

.content-body {
    .title-area {
        padding-bottom: 50px;
        .main-title {
            font-size: commons.$fs-xl;
            text-align: center;
        }
    }
    .content-area {
        .form-area {
            .form-row {
                + .form-row {
                    margin-top: 20px;
                }
                h4 {
                    display: inline-flex;
                    padding-bottom: 15px;
                    font-weight: bold;
                    font-size: commons.$fs-m;
                    color: commons.$gray6;
                }
                &.flex {
                    display: flex;
                    .input-wrap {
                        flex: 1;
                        + .input-wrap {
                            margin-left: 10px;
                        }
                    }
                }
                .select-wrap {
                    width: 30%;
                    + .input-wrap {
                        margin-left: 10px;
                    }
                }
                .date-wrap {
                    margin-left: 10px;
                }
                .editor-wrap {
                    flex: 1;
                    .ql-snow {
                        border-color: commons.$gray8;
                    }
                    .ql-toolbar {
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .ql-container {
                        height: auto;
                        .ql-editor {
                            &.ql-blank::before { // placeholder
                                font-style: inherit;
                                color: commons.$gray8;
                            }
                            &:focus {
                                outline: 1px solid rgba(#4337ca, .5);
                            }
                        }
                    }
                }
                .check-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
                    row-gap: 10px;
                    padding: 20px;
                    background-color: rgba(#4337ca, .05);
                }
            }
        }
        .data-table-area {
            .table {
                td {
                    height: 70px;
                    padding: 0 20px;
                    .board-title {
                        display: inline-block;
                        padding: 10px;
                    }
                    .btn-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        font-size: commons.$fs-m;
                    }
                }
            }
            .edit-btns-wrap {
                display: flex;
                align-items: center;
                .editable-area {
                    .before-edit {
                        display: flex;
                        align-items: center;
                        .category-title {
                            display: block;
                            margin-right: 10px;
                        }
                    }
                    .editable {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                    }
                }
            }
            .list-btns-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .preview-wrap {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            width: calc(100% - 100px);
            .img-wrap {
                .img-title {
                    display: flex;
                    width: 100%;
                    margin-top: 5px;
                    .title {
                        overflow: hidden;
                        display: block;
                        max-width: calc(100% - 20px);
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
                .img-area {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    border: .1rem solid commons.$grayC;
                    &.width-full {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    &.height-full {
                        img {
                            width: auto;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .footer-area {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        a, button {
            + a, + button {
                margin-left: 20px;
            }
        }
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.side {
            justify-content: space-between;
        }
    }
    &.login {
        .login-content {
            width: 500px;
            margin: 0 auto;
            .login-form {
                .form-row {
                    .input-area {
                        flex-direction: column;
                        .input {
                            display: flex;
                            input {
                                width: 100%;
                            }
                        }
                    }
                    + .form-row {
                        margin-top: 40px;
                    }
                    &.id-check {
                        .input-area {
                            .input {
                                justify-content: space-between;
                                input {
                                    width: 72%;
                                }
                                .btn-delete-input {
                                    right: 30%;
                                }
                            }
                        }
                    }
                }
                .login-tip {
                    display: block;
                    padding-top: 10px;
                    color: red;
                }
            }
        }
    }
    &.board {
    }
    &.project {
        // list
        .skills {
            display: flex;
            .lang {
                display: flex;
                align-items: center;
                + .lang {
                    &::before {
                        content: ', ';
                        padding-right: 3px;
                    }
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .project-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 20px;
            min-height: 620px;
            .project-wrap {
                width: 100%;
                height: 300px;
                border-radius: 16px;
                box-shadow: 1px 1px 10px 1px #ececec;
                background-color: commons.$white;
                button {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    border-radius: 16px;
                    text-align: left;
                    .project-title {
                        position: relative;
                        width: 100%;
                        h4 {
                            padding-top: 20px;
                            padding-bottom: 5px;
                            line-height: 24px;
                            font-weight: bold;
                            font-size: 18px;
                        }
                        .types-badge {
                            position: absolute;
                            top: -5px;
                            right: 0;
                            display: flex;
                            span {
                                display: block;
                                height: 20px;
                                margin: 0 2px;
                                padding: 0 2px;
                                border-radius: 3px;
                                line-height: 20px;
                                font-size: 11px;
                                &.pc {
                                    background-color: commons.$primary-dark;
                                    color: commons.$white;
                                }
                                &.mobile {
                                    border: 1px solid commons.$primary-dark;
                                    color: commons.$primary-dark;
                                }
                            }
                        }
                    }
                    .date-area {
                        padding-bottom: 10px;
                        color: #666;
                    }
                    .introduce {
                        padding-bottom: 10px;
                        line-height: 18px;
                        font-size: 15px;
                    }
                    // .types {
                    //     padding-bottom: 10px;
                    //     span {
                    //         &:nth-child(2) {
                    //             &::before {
                    //                 content: ', ';
                    //             }
                    //         }
                    //     }
                    // }
                    .companies {
                        margin-top: auto;
                        span {
                            display: block;
                            line-height: 18px;
                            font-size: 15px;
                            + span {
                                padding-top: 5px;
                            }
                        }
                    }
                }
                &:hover {
                    animation-duration: .5s;
                    animation-name: sizing;
                }
                @keyframes sizing {
                  0% {
                    transform: scale3d(1, 1, 1);
                  }
                  70% {
                    transform: scale3d(1.2, 1.2, 1.2);
                  }
                
                  100% {
                    transform: scale3d(1, 1, 1);
                  }
                }

            }
        }
        // view
        .table-view {
            line-height: 20px;
        }
        .jobs {
            li {
                display: flex;
                align-items: flex-start;
                padding-top: 10px;
                &:first-child {
                    padding-top: 0;
                }
                &::before {
                    content: '';
                    display: block;
                    width: 4px;
                    height: 4px;
                    margin-top: 8px;
                    margin-right: 5px;
                    border-radius: 50%;
                    background-color: commons.$gray3;
                }
                span {
                    display: block;
                    width: calc(100% - 9px);
                }
            }
        }
        .types {
            span {
                &:nth-child(2) {
                    &::before {
                        content: ', ';
                    }
                }
            }
        }
        .tab-wrap {
            // height: 600px;
            .swiper-component {
                height: 600px;
            }
        }
        .swiper {
            .img-area {
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: auto;
                }
                // &.pc {
                //     img {
                //         width: 100%;
                //         height: auto;
                //     }
                // }
                // &.mobile {
                //     img {
                //         width: auto;
                //         height: 100%;
                //     }
                // }
            }
        }
    }
}

// main

#showScene0 #section0 .sticky-element {
	display: block;
}
#section0 {
    h2 {
        font-weight: bold;
		font-size: 100px;
        text-align: center;
        transform: translate3d(0, calc(50vh - 100px), 0);
    }
    .sticky-element {
        display: none;
        position: fixed;
        top: calc(50% - 80px);
        left: 0;
        width: 100%;
        transform: translate3d(0, -50%, 0);
        opacity: 0;
        font-size: 40px;
        text-align: center;
    }
}
