@use 'commons';

.page-container {
    margin: 0 auto;
}
.content-body {
    width: 800px;
    margin: 0 auto;
    padding: 70px 0 50px;
    .title-area {
        padding-bottom: 30px;
        .main-title {
            font-size: commons.$fs-xl;
            text-align: center;
        }
    }
    .content-area {
        .form-area {
            .form-row {
                + .form-row {
                    margin-top: 20px;
                }
                h4 {
                    display: inline-flex;
                    padding-bottom: 15px;
                    font-weight: bold;
                    font-size: commons.$fs-m;
                    color: commons.$gray6;
                }
                &.flex {
                    display: flex;
                    .input-wrap {
                        flex: 1;
                        + .input-wrap {
                            margin-left: 10px;
                        }
                    }
                }
                .select-wrap {
                    width: 30%;
                    + .input-wrap {
                        margin-left: 10px;
                    }
                }
                .date-wrap {
                    margin-left: 10px;
                }
                .editor-wrap {
                    flex: 1;
                    .ql-snow {
                        border-color: commons.$gray8;
                    }
                    .ql-toolbar {
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .ql-container {
                        height: auto;
                        .ql-editor {
                            &.ql-blank::before { // placeholder
                                font-style: inherit;
                                color: commons.$gray8;
                            }
                            &:focus {
                                outline: 1px solid rgba(#4337ca, .5);
                            }
                        }
                    }
                }
                .check-list {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(20%, auto));
                    row-gap: 10px;
                    padding: 20px;
                    background-color: rgba(#4337ca, .05);
                }
            }
            .preview-wrap {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(calc(25% - 20px), auto));
                gap: 10px;
                width: calc(100% - 100px);
                .img-wrap {
                    .img-title {
                        display: flex;
                        width: 100%;
                        margin-top: 5px;
                        .title {
                            overflow: hidden;
                            display: block;
                            max-width: calc(100% - 20px);
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .img-area {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 200px;
                        border: .1rem solid commons.$grayC;
                        &.width-full {
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        &.height-full {
                            img {
                                width: auto;
                                height: 100%;
                            }
                        }
                    }
                }
            }
        }
        .data-table-area {
            .table {
                td {
                    height: 70px;
                    padding: 0 20px;
                    .board-title {
                        display: inline-block;
                        padding: 10px;
                    }
                    .btn-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        font-size: commons.$fs-m;
                    }
                }
            }
            .edit-btns-wrap {
                display: flex;
                align-items: center;
                .editable-area {
                    .before-edit {
                        display: flex;
                        align-items: center;
                        .category-title {
                            display: block;
                            margin-right: 10px;
                        }
                    }
                    .editable {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                    }
                }
            }
            .list-btns-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .footer-area {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        a, button {
            + a, + button {
                margin-left: 20px;
            }
        }
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.side {
            justify-content: space-between;
        }
    }
    &.login {
        .login-content {
            width: 500px;
            margin: 0 auto;
            .login-form {
                .form-row {
                    .input-area {
                        flex-direction: column;
                        .input {
                            display: flex;
                            input {
                                width: 100%;
                            }
                        }
                    }
                    + .form-row {
                        margin-top: 40px;
                    }
                    &.id-check {
                        .input-area {
                            .input {
                                justify-content: space-between;
                                input {
                                    width: 72%;
                                }
                                .btn-delete-input {
                                    right: 30%;
                                }
                            }
                        }
                    }
                }
                .login-tip {
                    display: block;
                    padding-top: 10px;
                    color: red;
                }
            }
        }
    }
    &.board {
    }
    &.project {
        .project-list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            .project-wrap {
                display: block;
                height: 300px;
            }
        }
        .img-area {
            display: block;
            width: 100%;
            height: 100px;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}
// 프로젝트
#showScene2 #scrollSection2 .sticky-element {
	display: block;
}

#scrollSection2 {
    .sticky-element {
        display: none;
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        padding-left: 200px;
        &::-webkit-scrollbar {
            background-color: transparent;
        }
    }
    .project-list { // ul
        display: inline-flex;
        padding-right: 130px;
        li {
            width: 360px;
            margin: 0 10px;
            border-radius: 16px;
            .btn-project {
                overflow: hidden;
                display: block;
                width: 100%;
                border: 1px solid #dadee1;
                border-radius: 16px;
            }
            .project-list-item {
                padding-top: 40px;
                .device {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    min-height: 300px;
                    padding-bottom: 40px;
                    .pc, .mobile {
                        overflow: hidden;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: auto;
                        img {
                            width: 100%;
                            height: auto;
                            border: 1px solid #ddd;
                        }
                    }
                    .pc {
                        width: 70%;
                    }
                    .mobile {
                        width: 35%;
                    }
                    &.both {
                        flex-direction: column;
                        justify-content: flex-start;
                        .pc {
                            transform: translate(-5%, 0px);
                            flex: 1;
                        }
                        .mobile {
                            position: absolute;
                            top: 16%;
                            right: 10%;
                        }
                    }
                }
                .summary {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 25px 20px 60px;
                    background-color: #f0f1f2;
                    text-align: left;
                    h2 {
                        font-weight: bold;
                        font-size: 28px;
                    }
                    .introduce {
                        font-size: 20px
                    }
                }
            }
        }
    }
}
