@use '../commons';

// common style
body.hidden {
    overflow-y: hidden;
}
body.before-load {
    overflow: hidden;
    .loading-wrap {
	    opacity: 1;
    }
}
.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: 0.5s;
}
.scroll-hidden {
    overflow-y: hidden;
}
.sr-only {
	overflow: hidden;
	position: absolute;
	width: .1rem;
	height: .1rem;
	border: 0;
	margin: -.1rem;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: rect(0, 0, 0, 0);
}
.dot-list {
    li {
        display: flex;
        align-items: flex-start;
        padding-top: 2rem;
        &:first-child {
            padding-top: 0;
        }
        &::before {
            content: '';
            display: block;
            width: .4rem;
            height: .4rem;
            margin-top: .4rem;
            margin-right: .5rem;
            border-radius: 50%;
            background-color: commons.$gray3;
        }
    }
}
.notice-dot {
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: block;
        width: .4rem;
        height: .4rem;
        margin-right: .5rem;
        border-radius: 50%;
        background-color: commons.$gray3;
        line-height: 1;
    }
}
// button
a.btn {
    max-width: 10rem;
    text-align: center;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    &.xs {
        padding: .8rem 1rem;
        font-size: 1.1rem;
    }
    &.sm {
        padding: 1rem 1.2rem;
        font-size: 1.2rem;
    }
    &.md {
        padding: 1.2rem 1.5rem;
        font-size: 1.3rem;
    }
    &.lg {
        padding: 1.3rem 2rem;
        font-size: 1.4rem;
    }
    &.xl {
        padding: 1.4rem 2.4rem;
        font-size: 1.6rem;
    }
    &.primary {
        background-color: commons.$primary;
        color: commons.$white;
    }
    &.secondary {
        background-color: commons.$primary-light;
        color: commons.$main-font;
    }
    &.dark {
        background-color: commons.$gray3;
        color: commons.$white;
    }
    &.light {
        border: .1rem solid commons.$grayC;
        background-color: commons.$white;
        color: commons.$main-font;
    }
    &.border {
        border-radius: .5rem;
    }
}
// table
.table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border-radius: 1rem;
    border: .1rem solid commons.$grayD;
    .width10 {
        width: 10%;
    }
    .width15 {
        width: 15%;
    }
    .width20 {
        width: 20%;
    }
    .width15 {
        width: 15%;
    }
    .width25 {
        width: 25%;
    }
    .width35 {
        width: 30%;
    }
    .width30 {
        width: 35%;
    }
    .widthAll {
        width: auto;
    }
    thead {
        th {
            padding: 2rem;
            border-bottom: .1rem solid commons.$grayD;
            border-right: .1rem solid commons.$grayD;
            background-color: commons.$primary-bg;
            &:first-child {
                border-top-left-radius: 1rem;
            }
            &:last-child {
                border-top-right-radius: 1rem;
                border-right: 0 none;
            }
        }
    }
    tbody {
        th, td {
            border-bottom: .1rem solid commons.$grayD;
            border-right: .1rem solid commons.$grayD;
            padding: 2rem;
            &:last-child {
                border-right: 0 none;
            }
        }
        tr {
            &:last-child {
                th, td {
                    border-bottom: 0 none;
                    &:first-child {
                        border-bottom-left-radius: 1rem;
                    }
                    &:last-child {
                        border-bottom-right-radius: 1rem;
                    }
                }
            }
        }
    }
    .txt-left {
        text-align: left;
    }
    .txt-center {
        text-align: center;
    }
    .txt-right {
        text-align: right;
    }
    .no-data {
        text-align: center;
    }
}
.table-view {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    tbody {
        tr {
            &:first-child {
                th, td {
                    border-top: .2rem solid #999;
                }
            }
            &:last-child {
                th, td {
                    border-bottom: .1rem solid #ccc;
                }
            }
        }
        th {
            background-color: rgba(#4337ca, .05);
        }
        th, td {
            border-top: .1rem solid #ccc;
            padding: 2rem .5rem;
        }
    }
    .txt-left {
        text-align: left;
    }
    .txt-center {
        text-align: center;
    }
    .txt-right {
        text-align: right;
    }
    .no-data {
        text-align: center;
    }  
}
