@use 'commons';

.page-container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
// .svg-inline--fa {
//     vertical-align: 0;
// }
body.hidden {
    overflow-y: hidden;
}
body.before-load {
    overflow: hidden;
    .loading-wrap {
	    opacity: 1;
    }
}
.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: 0.5s;
}
header {
    width: 100%;
    height: 54px;
    padding: 0 10px;
	border-bottom: 1px solid #ddd;
    nav {
        display: flex;
        align-items: center;
        max-width: 1000px;
        height: 52px;
        margin: 0 auto;
        h1 {
            font-weight: bold;
            font-size: 20px;
        }
        .global-nav-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: auto;
            nav {
                > ul {
                    display: flex;
                    .global-nav-item {
                        position: relative;
                        > a, button {
                            display: block;
                            padding: 15px;
                            font-size: commons.$fs-l;
                        }
                        + .global-nav-item {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .local-nav-wrap {
                position: absolute;
                top: calc(100% + 3px);
                width: 100%;
                padding: 10px 0;
                border: 1px solid commons.$grayB;
                background-color: rgba(255, 255, 255, .8);
                a.local-nav-item {
                    display: block;
                    padding: 7px 5px;
                    font-size: commons.$fs-s;
                    &:hover {
                        background-color: #ddd;
                    }
                }
                a.local-nav-sub-item {
                    display: block;
                    padding: 7px 5px 7px 15px;
                    font-size: commons.$fs-s;
                    word-break: break-word;
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
        }
    }
}
.board-wrap {
    .board-title {
        h3 {
            font-size: commons.$fs-xl;
            text-align: center;
        }
    }
    .board-content {
        padding-top: 30px;
        .board-list {
            .table {
                td {
                    height: 70px;
                    padding: 0 20px;
                    .board-title {
                        display: inline-block;
                        padding: 10px;
                    }
                    .btn-icon {
                        display: block;
                        width: 24px;
                        height: 24px;
                        font-size: commons.$fs-m;
                    }
                }
            }
            .category-edit-wrap {
                display: flex;
                align-items: center;
                .editable-area {
                    .before-edit {
                        display: flex;
                        align-items: center;
                        .category-title {
                            display: block;
                            margin-right: 10px;
                        }
                    }
                    .editable {
                        display: flex;
                        align-items: center;
                        margin-right: 10px;
                    }
                }
            }
            .list-btns-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .board-form, .board-view {
            .form-row {
                display: flex;
                .select-wrap {
                    width: 30%;
                    + .input-wrap {
                        margin-left: 10px;
                    }
                }
                .input-wrap {
                    flex: 1;
                }
                .editor-wrap {
                    flex: 1;
                    .ql-snow {
                        border-color: commons.$gray8;
                    }
                    .ql-toolbar {
                        &:focus {
                            outline: 1px solid red;
                        }
                    }
                    .ql-container {
                        height: auto;
                        .ql-editor {
                            &.ql-blank::before { // placeholder
                                font-style: inherit;
                                color: commons.$gray8;
                            }
                            &:focus {
                                outline: 1px solid rgba(#4337ca, .5);
                            }
                        }
                    }
                }
                + .form-row {
                    margin-top: 10px;
                }
            }
        }
    }
    .board-btns {
        display: flex;
        padding-top: 30px;
        justify-content: center;
        a, button {
            + a, + button {
                margin-left: 20px;
            }
        }
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
        }
        &.side {
            justify-content: space-between;
        }
    }
}