@use 'commons';

.page-container {
    width: 1000px;
    margin: 0 auto;
}
.svg-inline--fa {
    vertical-align: 0;
}
body.before-load {
    overflow: hidden;
    .loading-wrap {
	    opacity: 1;
    }
}
.loading-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
	opacity: 0;
	transition: 0.5s;
}
header {
    width: 100%;
    height: 54px;
    padding: 0 10px;
	border-bottom: 1px solid #ddd;
    nav {
        display: flex;
        align-items: center;
        max-width: 1000px;
        height: 52px;
        margin: 0 auto;
        h1 {
            font-weight: bold;
            font-size: 20px;
        }
        .global-nav-wrap {
            display: flex;
            align-items: center;
            height: 100%;
            margin-left: auto;
            nav {
                > ul {
                    display: flex;
                    .global-nav-item {
                        position: relative;
                        > a, button {
                            display: block;
                            padding: 15px;
                            font-size: 18px;
                        }
                        + .global-nav-item {
                            margin-left: 20px;
                        }
                    }
                }
            }
            .local-nav-wrap {
                position: absolute;
                top: calc(100% + 3px);
                width: 100%;
                padding: 10px 0;
                background-color: rgba(255, 255, 255, .8);
                .local-nav-item {
                    display: block;
                    a {
                        display: block;
                        padding: 7px 5px;
                        font-size: 13px;
                        &:hover {
                            background-color: #ddd;
                        }
                    }
                }
            }
        }
    }
}
.board-wrap {
    .board-list {
        .board-img {
            display: block;
            width: 200px;
            height: auto;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .ql-editor {
        &.ql-blank::before {
            font-style: inherit;
            color: commons.$gray8;
        }
    }
}